<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button 
        routerLink = "/"
        class="btn btn-link"
    >На Главную</button>
    </div>

    
    <div class="info">
        <strong>Тут Автор</strong>
        <small>12.09.2019</small>
    </div>
    <div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, accusamus. Dicta autem ducimus, totam quisquam aspernatur earum soluta excepturi delectus qui vitae nam iste, dolor quae, explicabo eos numquam sint et incidunt necessitatibus aliquid quibusdam! Sint error nulla explicabo accusamus, pariatur earum cumque saepe, similique neque tempore aliquid praesentium reiciendis?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, accusamus. Dicta autem ducimus, totam quisquam aspernatur earum soluta excepturi delectus qui vitae nam iste, dolor quae, explicabo eos numquam sint et incidunt necessitatibus aliquid quibusdam! Sint error nulla explicabo accusamus, pariatur earum cumque saepe, similique neque tempore aliquid praesentium reiciendis?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, accusamus. Dicta autem ducimus, totam quisquam aspernatur earum soluta excepturi delectus qui vitae nam iste, dolor quae, explicabo eos numquam sint et incidunt necessitatibus aliquid quibusdam! Sint error nulla explicabo accusamus, pariatur earum cumque saepe, similique neque tempore aliquid praesentium reiciendis?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, accusamus. Dicta autem ducimus, totam quisquam aspernatur earum soluta excepturi delectus qui vitae nam iste, dolor quae, explicabo eos numquam sint et incidunt necessitatibus aliquid quibusdam! Sint error nulla explicabo accusamus, pariatur earum cumque saepe, similique neque tempore aliquid praesentium reiciendis?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, accusamus. Dicta autem ducimus, totam quisquam aspernatur earum soluta excepturi delectus qui vitae nam iste, dolor quae, explicabo eos numquam sint et incidunt necessitatibus aliquid quibusdam! Sint error nulla explicabo accusamus, pariatur earum cumque saepe, similique neque tempore aliquid praesentium reiciendis?</p>
    </div>
</div>